body {
    background: url(https://pablomonteserin.com/res/html5/ex/ejercicios-responsive/mobile-first/resuelto/img/background.png);
    margin: 0;
    font-family: arial;
    }

    #wrapper {
    max-width: 980px;
    margin: 0px auto 0px auto;
    background: rgba(186, 183, 179, 0.2);
    position: relative;
    }

    header {
    background: url("https://pablomonteserin.com/res/html5/ex/ejercicios-responsive/mobile-first/resuelto/img/pablomonteserin.png") center 0 no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    }
    header img{
        width: 100%;
    }

    header a.logo {
    background: url("https://pablomonteserin.com/res/html5/ex/ejercicios-responsive/mobile-first/resuelto/img/logo_small.png");
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 40px;
    height: 32px;
    display: block;
    }

    nav {
    background: #333;
    margin: 0;
    padding: 0;
    }

    nav li {
    text-align: center;
    padding: 0;
    margin: 0;
    }

    nav a {
    padding: 10px;
    color: black;
    display: block;
    text-decoration: none;
    transition: 1s;
    color: white;
    }

    nav a:hover {
    background: grey;
    color: white;
    }

    nav ul {
    list-style: none;
    margin: auto;
    padding: 0;
    display: flex;
    justify-content: center;
    }

    article {
    text-align: center;
    margin: auto;
    width: 95%;
    border-bottom: 1px solid grey;
    }

    article p {
    font-size: 18px;
    margin-bottom: 10px;
    }

    .promo_container {
    width: 95%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    }

    .promo {
    padding: 0;
    box-sizing: border-box;
    display: block;
    width: 18%;
    min-width: 200px;
    }

    .promo div {
    vertical-align: top;
    display: inline-block;
    }

    .img_logo {
    margin-top: 18.72px;
    width: 80%;
    height: 79px;
    background: red;
    background: url(https://pablomonteserin.com/res/html5/ex/ejercicios-responsive/mobile-first/resuelto/img/logo_medium.png) no-repeat;
    }

    .content {
    width: 100%;
    }